.coordinatore a{
    display: flex;
   align-items: center;
   justify-content: center;
    background-color: white;
    margin-top: 20px;
    width: 50%;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.875rem;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--orange, #FF4040);
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s ease; 
}

.coordinatore a:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: var(--orange, #FF4040);
    color: #FFF;
}
.coordinatore {
    margin-top: 80px;
}

 #gestione-coord a{
    margin-left: 30px;
 }