* {
   border: 1px solid #000;
}
#rettangolo1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 li {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}
.gestione-coord a {
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 0.8em;
    font-weight: 700;
    --colortext: #447890;
    color: var(--colortext);
}
