.titolo {
    display: flex;
    padding-top: 47px;

}
.icn {
    width: 69px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
}
.home-info {
    display: flex;
   
    }


.home-info a {
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 1em;
    font-weight: 700;
    --colortext: #3f61ab;
    color: var(--colortext);
  

}

li:hover {
    box-shadow: none;
}


/***************COORDINATORE LINKS*****/

