* {
    box-sizing: border-box;
    font: 1em sans-serif;
}
body {
    background: #DAF0FA;
}
.centrale {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
   }
header {
    background: url(../img/logo.svg) no-repeat;
    width: 6.87381rem;
    height: 6.04894rem;  
    margin: 1rem;
}
.copertina{
    width: 48.625rem;
    height: 11.3035rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: var(--blu, #8BCEEC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

#logo {
    background: url(../img/ITSApplogo.svg) center no-repeat;
    width: 17.25131rem;
    height: 6.04913rem;
    margin-top: 20px;
}

.copertina h2 {
    display: flex;
    width: 38.64919rem;
    height: 2.55056rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 700;
}

/*ha le stesse proprietà della classe copertina*/
.login {
    width: 48.625rem;
    height: 18rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: var(--blu, #8BCEEC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 21px;
}

.login label {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    border: none;
}
.login input {
    width: 14rem;
    height: 1.8rem;
    flex-shrink: 0;
    border-radius: 2rem;
    display: block;
    margin-bottom: 0.5rem;
    border: none;
    text-align: center;
    color: #1f3843;
}

.login input:focus {
    outline: none;
}


#submit  {
        border: none;
        margin-top: 1.6rem;
        width: 10rem;
        height: 2.25rem;
        flex-shrink: 0;
        border-radius: 0.875rem;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--orange, #FF4040);
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
       
    }
    form {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}