
nav span {
    display: flex;
    align-items: center;
    width: 200px;
    border-radius: 25px 25px 0 0 ;
    box-shadow: 2px -2px 5px 0px rgba(28, 39, 76, 0.15);
}
nav {
    min-height: 100px;
    background-color: azure;
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    color: var(--colortext);
    
    font-size: 1.3em;
}

nav span:hover a {
    color: white;
}

nav span:hover {
    background-color:#84CBEB;
  box-shadow: 2px -2px 5px 0px rgba(28, 39, 76, 0.15);
}

#home  {
    background-color: var(--blubackground);
}

.profile-container {
    box-shadow: 5px -5px 14px 5px rgba(0, 0, 0, 0.11);
    width: 100%;
}
