

img {
    height: 50px;
    margin-bottom: 5px; 
}
nav {
    justify-content: center;
    display: flex;
    padding: 1%  1% 0 1%;
    gap: 5%;
    background-color: aliceblue;
}
nav ul{
    display: flex;
    gap: 5px
}
nav li {
    background-color:#DAF0FA;
    border-radius: 10px 10px 0 0;
    padding: 10px;    
    text-align: right;
    list-style: none;
   min-width: 150px;
   height: 100%;
   
}


nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    color: #3f61ab;
}
nav li:hover {
    background-color: #DAF0FA;
    box-shadow: 0px -5px 10px -5px rgba(28, 39, 76, 0.7);
    color: #3f61ab;
}


