
/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}

/* Variabili CSS */
:root {
    --blubackground: #DAF0FA;
    --blutext: #3f61ab;
    --boxcolor: #f5f5f5;
    --border-rad: 0 3.75rem 0 0;
    --colortext: #3f61ab;
    --hovertablecolor: #ccefff;
    --navcolor: #84cbeb;
    --textlightcolor: #fff;
    --textnavcolordarker: #84cbeb;
}
/*
***********************BUTTONS*****************************/
.bottone {
    margin-top: 20px;
    width: 10rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.875rem;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    align-self: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--orange, #FF4040);
    text-align: center;
    font-weight: 700;
    transition: all 0.5s ease; 

}

.bottone:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: var(--orange, #FF4040);
    color: #FFF;
}


/*

***********************INDEX.HTML*****************************
/*

/* Body */
body {
    
    margin: 0 5% 0 5%;
}
.profile-container {
    background: #DAF0FA;
    height: 100vh;
    padding-left: 33%;
    position: relative;
    padding-top: 50px;
}

/* Header */
header {
    background: url("../img/logo.svg") no-repeat;
    height: 6.04894rem;
    margin: 1rem;
    width: 6.87381rem;
}

/* Heading 2 */
h2 {
    color: var(--colortext);
    font-size: 40px;
    text-transform: uppercase;
}
h3 {
    color: var(--colortext);
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}


/* Paragraph */
p {
    font-size: 30px;
    color: var(--blutext);
}
li {
    list-style: none;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenitore {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/*
/* ////////////////////////////////////////////////////// HOMEPAGE//////////////////
*/
/* Centrale */
.centrale {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Copertina */
.copertina {
    align-items: center;
    background: var(--blu, #8BCEEC);
    border-radius: 3.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    height: 11.3035rem;
    justify-content: center;
    width: 48.625rem;
}

/* Logo */
#logo {
    align-items: center;
    background: url("../img/ITSApplogo.svg") center no-repeat;
    display: flex;
    flex-shrink: 0;
    height: 6.04913rem;
    justify-content: center;
    margin-top: 20px;
    width: 17.25131rem;
}

/* Copertina H2 */
.copertina h2 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 0.9375rem;
    font-weight: 700;
    height: 2.55056rem;
    justify-content: center;
    text-align: center;
    width: 38.64919rem;
}

/* Cards Container */
.cards .cardscont {
    align-items: center;
    background: var(--blu, #8BCEEC);
    border-radius: 2.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 15rem;
    justify-content: center;
    width: 15rem;
    .bottone {
    margin-top: 20px;
    width: 10rem;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0.875rem;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    align-self: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--orange, #FF4040);
    text-align: center;
    font-weight: 700;
    transition: all 0.5s ease; 

}

.bottone:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: var(--orange, #FF4040);
    color: #FFF;
}


}

/* Cards Paragraph */
.cards .cardscont p {
    background-size: cover;
    flex-shrink: 0;
    height: 7rem;
    width: 7rem;
    transition: all 0.3s ease; 
}

/* Cards Hover */
.cards .cardscont:hover {
    background-color: #FFF;
}

/* Image Coordinatore */
.cards .cardscont .image-coordinatore {
    background-image: url("../images/logoc.svg");
}

/* Image Coordinatore Hover */
.cards .cardscont:hover .image-coordinatore {
    background-image: url("../images/logochover.svg");
}

/* Image Docente */
.cards .cardscont .image-docente {
    background-image: url("../images/logod.svg");
}

/* Image Docente Hover */
.cards .cardscont:hover .image-docente {
    background-image: url("../images/logodhover.svg");
}

/* Image Studente */
.cards .cardscont .image-studente {
    background-image: url("../images/logos.svg");
}

/* Image Studente Hover */
.cards .cardscont:hover .image-studente {
    background-image: url("../images/logoshover.svg");
}
/* Cards */
.cards {
    display: flex;
    gap: 1.31rem;
    margin-top: 1.31rem;
}

.cards div {
    background: var(--blu, #8BCEEC);
    border-radius: 2.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
    flex-shrink: 0;
    height: 15rem;
    width: 15rem;
}

/*
***************************************************************
/* Nome */
.nome {
    color: var(--blutext);
    display: inline;
    font-size: 40px;
    font-weight: 600;
    margin-left: 35px;
    text-transform: uppercase;
}

/* Foto Prof */
.fotoprof {
    height: 167px;
    width: 136px;
}

/* Logo C */
#logoc {
    background: url("../img/logoc.svg") no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    height: 7rem;
    width: 7rem;
}
/*
* ///////////////////////////////////// LOGIN ///////////////////
*/
/* Login */
.login {
    align-items: center;
    background: var(--blu, #8BCEEC);
    border-radius: 3.125rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
    display: flex;
    flex-shrink: 0;
    height: 18rem;
    justify-content: center;
    margin-top: 21px;
    width: 48.625rem;
    margin-bottom: 100px;
}

/* Login Input */
.login input {
    border: none;
    border-radius: 2rem;
    color: #1f3843;
    display: block;
    flex-shrink: 0;
    height: 1.8rem;
    margin-bottom: 0.5rem;
    outline: none;
    resize: none;
    text-align: center;
    width: 14rem;
}

/* Login Label */
.login label {
    border: none;
    color: #FFF;
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}
/*
* ////////////////////PROFESSORE
*/
#link-prof {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 232px;
    margin-top: 45px;
    gap: 18px;
}

#link-prof a {
    text-transform: none !important;
    color: #447890;
    font-size: 25px;
    font-weight: 600;
}

#orario-prof h3 {
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 22px;
    padding-top: 47px;
    color: #447890;
    font-size: 30px;

    text-transform: uppercase;
}

#rettangolo2 {
    margin-right: 10%;

    height: 228.5px;
    background-color: #F5F5F5;
    border-radius: 62px;
    display: flex;
    align-items: center;
    margin-left: 20%;
}

/*
* /////////////////////  PAGINA HOME COORDINATORE  ////////////////////////
*/

#contatta-coord label {
    text-transform: none !important;
    color: #447890;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left !important;
}
#contatta-coord textarea {
    width: 506px;
    border-radius: 62px;
    height: 227px;
    background: #F5F5F5;
    border: none;
    padding: 20px;
    resize: none;

}
#contatta-coord {
    display: flex;
    margin-left: 20%;
    flex-direction: column;
    color: #447890;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 20px;
    padding-bottom: 300px;
    margin-top: 50px;
}


/****weekly schedule***/
.schedule-container textarea {
    resize: none;
    width: 600px;
    height: 50px;
    border-radius: 5px;
}
.weekly-form label{
    color: var(--colortext);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}