* {
    box-sizing: border-box;
    font: 1em sans-serif;
   /* border: 1px solid #000;*/
    --bluelight: #D4DEFF;
    --bluelighter: #EAEEFF;
    --bluelectric: #3366FF;
    --boxheight: 285px;
}
#logo {
    height: 115px;
    width: 131px;
    
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home {
    margin-top: 10px;
    background-color: var(--bluelight);
    height: var(--boxheight);
    width: 960px;
    border-radius: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bluelectric);
}

main img {
    width: 320px;
    height: 110px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 60px;
   
}

.cards div {
    background-color: var(--bluelight);
    margin-top: 50px;
    height: var(--boxheight);
    width: 280px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--bluelectric);
}

.cards img {
    width: 82px;
    height: 80px;
}


.cards button,a {
    background: var(--bluelectric);
    width: 201px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    text-decoration: none;
}


.cards button:hover, a:hover {
    background: #fff;
    color: var(--bluelectric);
    
}


.cards div a {
    background: var(--bluelectric);
    width: 201px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
  
}
